################################
# ===== Backend (Java / Maven)
################################

HELP.md
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/

backend/src/main/resources/serviceAccountKey.json

# --- Spring Tool Suite (STS) ---
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

# --- NetBeans ---
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/


################################
# ===== Frontend (Node / Vite)
################################

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*


################################
# ===== IDE / OS (Global)
################################

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/
!.vscode/extensions.json

# OS
.DS_Store

# Visual Studio / misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules

.env

frontend/coverage
frontend/reports